<div>
  <h2 class="font-semibold text-2xl text-[--baseColor] mb-4">Zone Configuration</h2>
  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Configurations">
      <div class="flex justify-content-center items-center">
        <p class="flex mr-4 font-sm">Single Batch <img pTooltip="Enter your username" tooltipPosition="right"
            src="../../../../assets/icons/icons-info.svg" alt="" class="ml-2"></p>
        <p-inputSwitch [(ngModel)]="checked" />
        <p class="flex ml-4 font-sm">Multi Batch <img pTooltip="Enter your username" tooltipPosition="right"
            src="../../../../assets/icons/icons-info.svg" alt="" class="ml-2">
        </p>
      </div>

      @if (checked) {
      <p class="font-sm font-semibold mt-4 mb-1">Clusters</p>
      <div class="grid grid-cols-3 gap-8">
        @for(input of maxMinInput; track $index){
        <div>
          <label for="" class="flex font-sm">
            <span class="required">{{ input.label }}</span>
            <img [src]="input.src" alt="" class="ml-2">
          </label>
          <input type="number" [(ngModel)]="input.value" pInputText class="p-inputText"
            [placeholder]="input.placeholder" />
        </div>
        }
      </div>

      }


      <div class="grid grid-cols-2 gap-4 mt-4">
        <div class="grid grid-cols-3 gap-4 items-center">
          <div *ngFor="let option of checkboxOptions" class="flex items-center">
            <input type="checkbox" [id]="option.id" class="h-4 w-4 rounded accent-[--baseColor] mr-1"
              [(ngModel)]="option.model" />
            <label [for]="option.id" class="flex">
              <span>{{ option.label }}</span>
              <img *ngIf="option.icon" [src]="option.icon" alt="" class="ml-2" pTooltip="{{ option.tooltip }}" />
            </label>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="routeStartTime" class="required">Route Start Time</label>
            <input id="routeStartTime" pInputText type="date" class="mt-2" [(ngModel)]="startTime" />
          </div>

          <div>
            <label for="vehicleCategory">Vehicle Category</label>
            <p-multiSelect [options]="categories()" [(ngModel)]="selectedCategories" id="vehicleCategory"
              optionLabel="name" class="mt-2 cust_multi_select" placeholder="Select Cities">
            </p-multiSelect>
          </div>
        </div>
      </div>
      @for(category of selectedCategories; track $index) {
      <h3 class="font-sm font-semibold mt-4 mb-1">{{ category.name }}</h3>
      <div class="grid grid-cols-3 gap-x-8 gap-y-4">
        <div *ngFor="let field of categoryFields; let i = index">
          <label [for]="field.id + i" class="required">{{ field.label }}</label>
          <input [id]="field.id + i" pInputText [(ngModel)]="category[field.model]" type="number"
            class="form-input mt-2" [placeholder]="field.placeholder" />
        </div>
      </div>
      }


      <p class="text-right">
        @if(this.checked){
        <p-button pRipple class="mr-2 mt-2 " label="Create Clusters" icon="pi pi-plus" severity="success"
          (click)="showDialog()" />

        }@else{
        <p-button pRipple class="mr-2 mt-2" label="Save Changes" severity="success" (onClick)="saveChanges()">
        </p-button>
        }
    </p-accordionTab>
  </p-accordion>

</div>



<p-dialog [modal]="true" [draggable]="false" [(visible)]="visible" class="progess_popUp" [style]="{ width: '25rem' }">
  <p class="text-2xl font-semibold">Creating Clusters</p>
  <div class="mt-6 mb-4 flex items-center"><span class="mr-3"><img src="../../../../assets/icons/icons_check.svg"
        alt=""></span><span class="text-sm font-medium">Complete</span></div>
  <div class="mb-6 flex items-center justify-between"><span class=""><i
        class=" animate-spin pi pi-hourglass mr-3"></i><span class="text-sm font-medium">Creating
        Clusters</span></span><span>3/4 Created</span></div>
  <p>This can take a few minutes...</p>
</p-dialog>





<!-- <div class="mt-[500px]">

  <div class="">
    <div class="tw-flex tw-items-center tw-justify-between">
      <div class="tw-flex tw-space-x-4">
        <div class="tw-flex tw-items-center">
          <p-toggleButton
            id="singleBatch"
            [(ngModel)]="singleBatch"
            onLabel="Single Batch"
            offLabel="Multi Batch" />
        </div>

      </div>
    </div>

    <div class="tw-mt-4 tw-grid tw-grid-cols-2 tw-gap-4">
      <div class="tw-flex tw-items-center">
        <input type="checkbox" id="startHub" class="tw-mr-2" [(ngModel)]="startFromHub" />
        <label for="startHub">Start from hub</label>
      </div>
      <div class="tw-flex tw-items-center">
        <input type="checkbox" id="endHub" class="tw-mr-2" [(ngModel)]="endAtHub"/>
        <label for="endHub">End at hub</label>
      </div>
      <div class="tw-flex tw-items-center">
        <input type="checkbox" id="overwrite" class="tw-mr-2" [(ngModel)]="overWriteDuplicate"/>
        <label for="overwrite">Overwrite Duplicate Data</label>
      </div>
      <div class="tw-flex tw-items-center">
        <label for="routeStartTime" class="tw-mr-2">Route Start Time <span class="tw-text-red-500">*</span></label>
        <input id="routeStartTime" type="time" class="tw-form-input" [(ngModel)]="startTime"/>
      </div>
      <div class="tw-flex tw-items-center">
        <label for="vehicleCategory" class="tw-mr-2">Vehicle Category <span class="tw-text-red-500">*</span></label>
        <p-multiSelect
          [options]="categories()"
          [(ngModel)]="selectedCategories"
          id="vehicleCategory"
          optionLabel="name"
          placeholder="Select Cities" />
      </div>
    </div>
  </div>


  @for(category of selectedCategories; track $index) {
    <h3 class="tw-font-bold tw-mb-2">{{category.name}}</h3>
    <div class="tw-grid tw-grid-cols-3 tw-gap-4">
      <div>
        <label for="noOfVehicles" class="tw-block">No. of Vehicles <span class="tw-text-red-500">*</span></label>
        <input id="noOfVehicles" [(ngModel)]="category.vehiclesCount" type="number" class="form-input" />
      </div>
      <div>
        <label for="capacityOfVehicle" class="tw-block">Capacity of Each Vehicle <span class="tw-text-red-500">*</span></label>
        <input id="capacityOfVehicle" [(ngModel)]="category.capacity" type="number" class="form-input" />
      </div>
      <div>
        <label for="maxRange" class="tw-block">Max Range of Each Vehicle <span class="tw-text-red-500">*</span></label>
        <input id="maxRange" [(ngModel)]="category.range" type="number" class="form-input" />
      </div>
      <div>
        <label for="waitTime" class="tw-block">Wait Time per Stop <span class="tw-text-red-500">*</span></label>
        <input id="waitTime" [(ngModel)]="category.waitTime" type="number" class="form-input" />
      </div>
      <div>
        <label for="totalShiftTime" class="tw-block">Total Shift Time <span class="tw-text-red-500">*</span></label>
        <input id="totalShiftTime" [(ngModel)]="category.shiftTime" type="number" class="form-input" />
      </div>
    </div>

  }


  <div class="tw-mt-6 tw-text-right">
    <button class="tw-bg-green-500 tw-text-white tw-font-bold tw-py-2 tw-px-4 tw-rounded hover:tw-bg-green-600" (click)="saveChanges()">
      Save Changes
    </button>
  </div>
</div> -->