
::ng-deep{
    .opt{
        .custom-stepper {
            .p-stepper{
                .p-stepper-nav{
                    margin: 0 15px !important;

                    .p-stepper-separator {
                        background-color: #C5C7D0BF;
                        width: 100%;
                        height: 2px;
                        margin-inline-start: 1rem;
                        transition: none;
                        margin-bottom: 20px !important;
                    }
                    
                    .p-stepper-header .p-stepper-action .p-stepper-number {
                        color: #878682;
                        border: 1px solid #C5C7D0BF;
                        border-width: 2px !important;
                        background: #ffffff;
                        width: 2.25rem !important;
                        height: 2.25rem !important;
                        line-height: 2rem;
                        font-size: 1.143rem;
                        border-radius: 50%;
                        transition: none;
                        margin: 0 auto;
                    }
                    .p-stepper-header .p-stepper-action .p-stepper-title{
                        // position: absolute;
                        margin-top: 10px;

                    }
                .p-stepper-header.p-highlight .p-stepper-number {
                    background: #2C958C;
                    color: #fff;
                    border: none;
                    }
                    .p-stepper-header p-button { display: block !important;  
                    }
                       
                }
                
            }  
        }
    } 
} 