<div class="rounded-md border-[0.5px] border-[#C5C7D0] min-h-[96vh] bg-white text-white px-8 py-6">
  <div class="custom-stepper">
    <p-stepper [activeStep]="activeIndex">
      <!-- <p-stepperPanel header="Order Data">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="">
            <div class="">
            <app-load-data (goToConfiguration)="setRouteId($event)"></app-load-data>
            </div>
          </div>
  
        </ng-template>
      </p-stepperPanel> -->
      <p-stepperPanel header="Zone Configuration">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="">
            <div class="">
              <app-set-configuration (manageOrders)="activeIndex=2" [routeId]="routeId"></app-set-configuration>
            </div>
          </div>
  
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="Review">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
          <div class="">
            <div class="">
              <app-manage-orders [routeId]="routeId"></app-manage-orders>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
</div>


