<p-dialog [(visible)]="display" [modal]="true" [closable]="false" header="Move TouchPoint to Batch" width="300"
    height="500">
    <div class="p-field">
        <label for="batch">Select Batch</label>
        <p-dropdown [options]="batchOptions" [(ngModel)]="selectedBatch" placeholder="Select Batch" optionLabel="label">
        </p-dropdown>
    </div>

    <div class="p-dialog-footer">
        <button pButton label="Move" (click)="onMove()" [disabled]="!selectedBatch"></button>
        <button pButton label="Cancel" class="ui-button-secondary" (click)="onCancel()"></button>
    </div>
</p-dialog>