::ng-deep .custom-underline-button .p-button-label {
    text-decoration: underline !important;
    color: #10B981 !important;
}

::ng-deep .custom-underline-button .p-button {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
}

::ng-deep .custom-underline-button .pi-download {
    margin-right: 0.5rem;
    color: #10B981;
}