/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/tailwind-light/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --baseColor : #2C958C;
}


body {
    margin: 16px 24px;
    background: #F5F7F9;
    font-size: .825rem;
}
.required::after {
    content: ' *';
    color: #FF0000;
}


.p-inputtext, .p-togglebutton, .p-selectbutton, .p-inputgroup,.p-multiselect{
    box-shadow: none !important;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #C5C7D0BF;
    height: 38px;
    padding: 0 10px;
    font-size: .825rem;
    color: #000000;
    background: #FFFFFF;
}
.p-calendar{
  width: 100% !important;
  margin-top: 10px;
}

.p-inputtext:disabled{
    background: #F5F7F9;
    color: #BDBDBD;
}

.p-inputtext:focus{
    border-color: var(--baseColor);
}

.p-inputtext:disabled{
    background: #F5F7F9;
}

.p-stepper .p-stepper-panels {
  padding: 1.25rem 0;
}
.p-tooltip.p-tooltip-right .p-tooltip-arrow{
  border-color: transparent !important;
  border-right-color: #333 !important;
  border-width: 0.25em 0.25em 0.25em 0 !important;
}
.p-tooltip .p-tooltip-text{
  padding: 0.725rem !important;
  font-size: 14px;
  font-weight: 400;
  // height: 38px !important;
}
.opt {
  .p-toast {
    .p-toast-message {
      margin: 0 0 1rem 0;
      box-shadow: none;
      border-radius: 0.5rem;

      &.p-toast-message-info {
        background: #EBF6EE;
        border: none;
        border-width: 0 0 0 8px;
        color: #258750;
        align-items: center;

        .p-toast-message-icon,
        .p-toast-icon-close {
          color: #258750;
          font-size: 1.2rem;
        }
      }

      .p-toast-message-content {
        .p-toast-summary {
          font-weight: 500;
        }

        .p-toast-detail {
          display: none;
        }
      }
    }
  }

  .p-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #C5C7D0;
    border-radius: 3px;
    transition: none;
    outline-color: transparent;

    .p-checkbox-box {
      width: 15px;
      height: 14px;
      border-radius: 3px;
      color: #3f3f46;
      transition: none;
      outline-color: transparent;

      
    }
    .p-checkbox-box.p-highlight {
        border-color: #5ABFB5 !important;
        background: #5ABFB5 !important;
      }

    
  }

  .custom-dropdown {
    .p-dropdown {
      width: 100%;
      height: 38px;
      border: 1px solid #ced4da;
      border-radius: 0.375rem;
      font-size: 1rem;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      margin: 10px 0;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      .p-dropdown-trigger {
        .p-dropdown-trigger-icon {
          color: #495057;
        }
      }

      .p-inputtext {
        font-size: 0.875rem;
        background: #ffffff;
        padding: 0 0.75rem;
        border-radius: 0.375rem;
        line-height: 36px;
      }
    }

    .p-dropdown:not(.p-disabled).p-focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 1px #2C958C;
      border-color: #2C958C;
    }
  }

  .p-button {
    padding: 0.45rem 1rem !important;
    font-size: 0.825rem !important;
    transition: none !important;
    border-radius: 0.275rem !important;
    outline-color: transparent !important;

    &:focus {
      box-shadow: none;
    }

    .pi {
      font-size: 0.925rem;
    }
  }

  .p-button.p-button-success,
  .p-button-group.p-button-success > .p-button,
  .p-splitbutton.p-button-success > .p-button {
    color: #ffffff;
    background: var(--baseColor);
    border: 1px solid var(--baseColor);
  }

  .p-button.p-button-success.p-button-outlined,
  .p-button-group.p-button-success > .p-button.p-button-outlined,
  .p-splitbutton.p-button-success > .p-button.p-button-outlined {
    background-color: transparent;
    color: var(--baseColor);
    border: 1px solid;
  }

  .p-button.p-button-danger.p-button-outlined,
  .p-button-group.p-button-danger > .p-button.p-button-outlined,
  .p-splitbutton.p-button-danger > .p-button.p-button-outlined {
    background-color: transparent;
    color: #ef4444;
    border: 1px solid;
  }

  .p-datatable {
    font-size: 14px;

    .p-datatable-header {
      padding: 0;
      background: none;
    }

    .p-datatable-thead > tr > th {
      text-align: left;
      padding: 0.75rem 1.5rem;
      border: 1px solid #C5C7D0BF;
      border-width: 1px;
      font-weight: 500;
      color: #6b7280;
      background: #F4F3F3;
      transition: none;
    }

    .p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
      background: #FCFCFC;
    }

    .p-datatable-tbody > tr > td {
      text-align: left;
      border: 1px solid #C5C7D0BF;
      border-width: 1px;
      padding: 1rem 1.5rem;
    }
    .p-sortable-column .p-sortable-column-icon {
      height: 10px !important;
    }
  }

  .success_message {
    color: #3B9760;
    background: #EBF6EE;
  }

  .warrning_message {
    color: #C09600;
    background: #FDF2DF;
  }

  ::ng-deep .p-paginator {
    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
      background-color: transparent;
      border-color: #C5C7D0 !important;
      border-style: solid !important;
      border-width: 1px 0 1px 1px !important;
      color: #878682;
      min-width: 38px;
      height: 38px;
      margin: 0;
      transition: background-color 0.2s, box-shadow 0.2s;
      border-radius: 0;

      &:hover {
        background: #EBF6F4 !important;
        border-color: #C5C7D0 !important;
        color: var(--main-color) !important;
      }
    }

    .p-paginator-prev {
      border-width: 1px 1px 1px 1px !important;
      border-right: 0 !important;
    }

    .p-paginator-last {
      border-right: 1px solid #C5C7D0 !important;
      border-radius: 0 8px 8px 0 !important;
    }

    .p-paginator-first {
      border-radius: 8px 0 0 8px !important;
    }

    .p-paginator-pages {
      .p-paginator-page {
        border-width: 1px !important;
        border-style: solid !important;
        border-right: 0 !important;
        border-color: #C5C7D0 !important;
        color: #878682 !important;
        min-width: 38px !important;
        height: 38px !important;

        &.p-highlight {
          background: #EBF6F4 !important;
          border-color: #C5C7D0 !important;
          color: var(--main-color) !important;
        }

        &:hover {
          background: #EBF6F4 !important;
          border-color: #C5C7D0 !important;
          color: var(--main-color) !important;
        }
      }
    }

    .p-link:focus {
      box-shadow: none !important;
    }

    .p-link:disabled {
      color: #e3e3e3 !important;
      border-color: #C5C7D0 !important;
      opacity: 1 !important;
    }

    .p-dropdown {
      border: 1px solid #C5C7D0BF !important;
      height: 40px;

      .p-inputtext {
        box-shadow: 0 !important;
        padding: 7px;
        border: 1px solid #ffffff !important;

        .p-dropdown:not(.p-disabled).p-focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: 0 0 0 1px var(--baseColor) !important;
          border-color: var(--baseColor);
        }
      }
    }
  }

  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background: var(--main-color) !important;
  }
}

.custom-div-icon i {
	position: absolute;
	width: 22px;
	font-size: 14px;
	left: 0;
	right: 0;
	margin: 10px auto;
	text-align: center;
}
.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

// to draw white circle
.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.p-tabview .p-tabview-nav-content {scrollbar-width: thin !important; height: 71px !important;}