<p class="text-2xl font-semibold mb-4 text-[--baseColor]">Review</p>
<p-tabView>
  @for(cluster of order?.clusters; track $index){
  <p-tabPanel header="Cluster {{ $index + 1 }}">
    <p class="font-sm mb-3.5">Total Vehicles: <span class="font-semibold mr-8"> 10</span> Vehicles Required in Cluster
      <span class="font-semibold  mr-8"> 1: 2</span> Zone: <span
        class="font-semibold">{{readyZone.event.value.name}}</span>
    </p>
    <div class="h-[56vh] overflow-y-auto custom_scrollbar">
      <p-accordion (activeIndexChange)="onTabChange($event)">
        @if(cluster.batches){

        @for(batch of cluster.batches; let batchIndex = $index; track batchIndex) {
        <p-accordionTab>
          <ng-template pTemplate="header">
            <span class="flex align-items-center justify-between gap-2 w-full text-sm ">
              @if(batch.is_missed){
              <span class="font-semibold">Missed Orders</span>
              }@else{
              <span class="font-semibold">Batch {{ batch.sequence_id }}</span>
              }
              <span class="flex align-items-center gap-2">
                <span class="font-semibold ml-2"> <span class="before:[content:'\2022'] before:mr-1.5">{{
                    batch.touch_points.length }} orders</span></span>
              </span>
            </span>
          </ng-template>
          <div class="bg-[#EBF6F4] p-[1.25rem]  border-[#E5E7EB]">
            <table class="table-auto w-full cursor-pointer">
              <tbody>
                <tr class="font-sm">
                  @for(item of batchInfo[batchIndex]; let i = $index; track i) {
                  <td>
                    <p class="text-[#878682]">{{ item.label }}</p>
                    @if(item.label==='Batch ID'){
                    #{{ item.value.toString().slice(-5) }}
                    }@else{
                    <p>
                      {{ item.value }}
                    </p>
                    }
                  </td>
                  }
                  <!-- <td class="w-[200px]">
                    <p class="text-[#878682]">Assigned Driver</p>
                    <p-dropdown optionLabel="name" placeholder="Select Assigned Driverd" [options]="assignDriver" />
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="grid grid-cols-2 gap-4  p-[1.25rem]">
            <div>
              <table class="border-collapse border border-slate-400 w-full table-striped">
                <thead>
                  <tr class="bg-[#F4F3F3]">
                    <th class="border border-[#C5C7D0BF] p-3 text-left">#</th>
                    <th class="border border-[#C5C7D0BF] p-3 text-left">Order ID</th>
                    <th class="border border-[#C5C7D0BF] p-3 text-left">Customer</th>
                    <th class="border border-[#C5C7D0BF] p-3 text-left">Delivery Address</th>
                    <th class="border border-[#C5C7D0BF] p-3 text-left">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tp of batch.touch_points; let i = index">
                    <td class="border border-slate-300 p-3">{{ i + 1 }}.</td>
                    <td class="border border-slate-300 p-3">#{{ tp.touch_point?.id }}</td>
                    <td class="border border-slate-300 p-3">{{ tp.touch_point?.category_type }}</td>
                    <td class="border border-slate-300 p-3">{{ tp.touch_point?.address }}</td>
                    <td class="border border-slate-300 p-3 text-center">
                      <div class="flex items-center gap-2">
                        <span><img src="../../../../assets/icons/icons_drag.svg" alt=""></span>
                        <span (click)="confirmDelete(tp)"><img src="../../../../assets/icons/icons_delete.svg" alt=""></span>
                      </div>
                    </td>
                    
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="h-[350px] w-full bg-white rounded-lg overflow-hidden border border-[#E5E7EB]">
              <app-map *ngIf="activeTabIndex === batchIndex" [thirdStepDataForMarker]="batch.touch_points" [isMissed]="batch.is_missed"
                [pickupLocation]="readyZone.refrencePoint">
              </app-map>
            </div>

          </div>
        </p-accordionTab>
        }
        }
       
      </p-accordion>
    </div>


  </p-tabPanel>
  }
</p-tabView>





<div class="flex justify-between items-center mt-4">
  <button (click)="onCancel()"
    class="mt-4 bg-white border border-grey text-grey text-sm font-normal px-4 h-9 rounded-md hover:bg-grey hover:text-grey disabled:border-gray-400 disabled:opacity-50 disabled:cursor-not-allowed disabled:text-gray-400">
    Cancel
  </button>

  <div class="flex space-x-2">
    <button (click)="goBack()" class=" text-black text-sm font-normal px-4 h-9">
      Back
    </button>
    <button (click)="createOrder()" [disabled]="true"
      class="bg-[--baseColor] text-white text-sm font-normal px-4 h-9 rounded-md w-[120px] disabled:cursor-not-allowed disabled:bg-[#BFDFDC]">
      Create Order
    </button>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
