<p class="text-2xl font-semibold mb-4 text-[--baseColor]">Review</p>
<p-tabView (activeIndexChange)="onClusterTabChange($event)">
  @for(cluster of order?.clusters; let clusterIndex = $index; track clusterIndex){
  <p-tabPanel header="Cluster {{ clusterIndex + 1 }}">
    <p class="font-sm mb-3.5">Total Vehicles: <span class="font-semibold mr-8"> {{cluster?.batches?.length}}</span>
      Vehicles Required in Cluster
      <span class="font-semibold  mr-8"> {{clusterIndex + 1}}: {{cluster?.batches?.length}}</span> Zone:
      <span class="font-semibold">{{readyZone?.event?.value?.name ? readyZone.event.value.name :
        (selectedZone?.[0]?.name || 'Default Name')}}</span>
    </p>
    <div class="h-[56vh] overflow-y-auto custom_scrollbar">
      <p-accordion (activeIndexChange)="onAccordionChange($event)" (onOpen)="onOpen($event, clusterIndex)"
        (onClose)="onClose($event,activeClusterTabIndex)">
        @if(cluster.batches){

        @for(batch of cluster.batches; let batchIndex = $index; track batchIndex) {
        <p-accordionTab [selected]="accordionState[clusterIndex][batchIndex]">
          <ng-template pTemplate="header">
            <span class="flex align-items-center justify-between gap-2 w-full text-sm ">
              @if(batch.is_missed){
              <span class="font-semibold">Missed Orders</span>
              }@else{
              <span class="font-semibold">Batch {{ batch.sequence_id }}</span>
              }
              <span class="flex align-items-center gap-2">
                <span class="font-semibold ml-2"> <span class="before:[content:'\2022'] before:mr-1.5">{{
                    batch.touch_points.length }} orders</span></span>
              </span>
            </span>
          </ng-template>
          <div class="bg-[#EBF6F4] p-[1.25rem]  border-[#E5E7EB]">
            <table class="table-auto w-full cursor-pointer">
              <tbody>
                <tr class="font-sm">
                  @for(item of batchInfo[clusterIndex]; let i = $index; track i) {
                  <td>
                    <p class="text-[#878682]">{{ item.label }}</p>
                    @if(item.label==='Batch ID'){
                    #{{ item.value.toString().slice(-5) }}
                    }@else{
                    <p>
                      {{ item.value }}
                    </p>
                    }
                  </td>
                  }
                  <td style="width: 150px;">
                    @if(batch.isReordered){
                    <span class="flex justify-between">
                      <button pButton label="Re-Routing" class="p-button-success" (click)="onUpdateOrder()"></button>
                    </span>
                    }
                  </td>
                  <!-- <td class="w-[200px]">
                    <p class="text-[#878682]">Assigned Driver</p>
                    <p-dropdown optionLabel="name" placeholder="Select Assigned Driverd" [options]="assignDriver" />
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="grid grid-cols-2 gap-4  p-[1.25rem]">
            <div class="h-[451px] overflow-y-auto">
              <table class="border-collapse border border-slate-400 w-full table-striped" cdkDropList
                (cdkDropListDropped)="drop($event, batch)">
                <thead>
                  <tr class="bg-[#F4F3F3]">
                    <th class="border border-[#C5C7D0BF] p-3 text-left">#</th>
                    <th class="border border-[#C5C7D0BF] p-3 text-left">Order ID</th>
                    <th class="border border-[#C5C7D0BF] p-3 text-left">Customer</th>
                    <th class="border border-[#C5C7D0BF] p-3 text-left">Delivery Address</th>
                    <th class="border border-[#C5C7D0BF] p-3 text-left">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tp of batch.touch_points; let i = index" cdkDrag>
                    <td class="border border-slate-300 p-3">{{ i + 1 }}.</td>
                    <td class="border border-slate-300 p-3">#{{ tp.touch_point?.id }}</td>
                    <td class="border border-slate-300 p-3">{{ tp.touch_point?.customer_name }}</td>
                    <td class="border border-slate-300 p-3">{{ tp.touch_point?.address }}</td>
                    <td class="border border-slate-300 p-3 text-center">
                      <div class="flex justify-center items-center gap-2">
                        @if(batch.is_missed){
                        <span (click)="openMoveDialog(tp,cluster.batches)" pTooltip="Move Order" hideDelay="3"
                          tooltipPosition="top"><img src="../../../../assets/icons/icons_move.svg" alt=""
                            class="mr-2 cursor-pointer"></span>
                        }@else(){
                        <span pTooltip="Reorder" hideDelay="3" tooltipPosition="top" cdkDragHandle
                          class="cursor-grab"><img src="../../../../assets/icons/icons_drag.svg" alt=""></span>
                        <span pTooltip="Delete Order" hideDelay="3" tooltipPosition="top"
                          (click)="confirmDelete(tp,cluster.batches)"><img
                            src="../../../../assets/icons/icons_delete.svg" alt="" class="cursor-pointer"></span>
                        }
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>

            </div>
            <div class="h-[450px] w-full bg-white rounded-lg overflow-hidden border border-[#E5E7EB]">
              <app-map *ngIf="activeAccordionIndex === batchIndex && clusterIndex === activeClusterTabIndex"
                [thirdStepDataForMarker]="batch.touch_points" (showSpinner)="shouldShowSpinner($event)"
                [startFromHub]="startFromHub" [endAtHub]="endAtHub" [isMissed]="batch.is_missed"
                [pickupLocation]="readyZone?.refrencePoint" [zoneName]="selectedZone?.[0]?.name">
              </app-map>
            </div>

          </div>
        </p-accordionTab>
        }
        }

      </p-accordion>
    </div>


  </p-tabPanel>
  }
</p-tabView>





<div class="flex justify-between items-center mt-4">
  <button (click)="onCancel()"
    class="mt-4 bg-white border border-grey text-grey text-sm font-normal px-4 h-9 rounded-md hover:bg-grey hover:text-grey disabled:border-gray-400 disabled:opacity-50 disabled:cursor-not-allowed disabled:text-gray-400">
    Cancel
  </button>

  <div class="flex space-x-2">
    <button (click)="goBack()" class="text-black bg-[#E4E4E4] rounded-md text-sm font-normal px-4 h-9 w-[120px]">
      Back
    </button>
    <button (click)="showDialog()"
      class="bg-[--baseColor] text-white text-sm font-normal px-4 h-9 rounded-md w-[120px] disabled:cursor-not-allowed disabled:bg-[#BFDFDC]">
      Create Order
    </button>
  </div>
</div>

<app-batch-move-dialog [(display)]="displayDialog" [touchPointId]="touchPointId" [cluster]="cluster"
  (closeDialog)="closeDialog($event)">
</app-batch-move-dialog>
<p-toast />

<p-confirmDialog></p-confirmDialog>
<p-dialog header="Are you sure?" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
  <p class="text-sm font-semibold">There are a few missed orders.</p>
  <p class="text-sm text-grey"> These order will be uploaded to the database</p>
  <div class="flex justify-end gap-2 mt-5">
    <button class="text-black text-sm font-normal px-4 h-9" (click)="visible=false">Cancel</button>
    <button
      class="bg-[--baseColor] text-white text-sm font-normal px-4 h-9 rounded-md w-[120px] disabled:cursor-not-allowed disabled:bg-[#BFDFDC]"
      (click)="createOrder()">Create Order</button>
  </div>
</p-dialog>